@model UserManagement.Web.Models.AuditLogs.UserLogListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Type
            </th>
            <th>
                Table Name
            </th>
            <th>
                Date

            </th>
            <th>
                Primary Key
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TableName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
@*             <td>
                @Html.DisplayFor(modelItem => item.OldValues)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewValues)
            </td> *@
@*             <td>
                @Html.DisplayFor(modelItem => item.AffectedColumns)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryKey)
            </td>
        </tr>
}
    </tbody>
</table>
